/* 
    Selector { property: value;} 
    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
*/
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
    color: #11999E;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
}
.middle-container{
    
}
.bottom-container{

}

.top-cloud{
    position: absolute;
    right: 400px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
    
}
.profile-image{
    width: 200px;
    height: 200px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.code-gif{
    width: 25%;
    margin-right: 30px;
    float:left;
}
.award-gif{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.code-skill-p{
    clear:left;
}

