/* 
    Selector { property: value;} 
    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
*/

body{
    background-color: #EFF5F5;
}
h1 {
    
    color: #344D67;
}
h3 {
    color: #6E85B7;
}
hr{
    
    /* border-style: dotted none none;
    border-color: grey;
    border-width: 6px;
    width: 5%; */
    border-style: none;
    background-color: white;
    height: 3px;
    
}