body{
    background-color: #EFF5F5;
}
h1{
    color
}
hr{
    
    /* border-style: dotted none none;
    border-color: grey;
    border-width: 6px;
    width: 5%; */
    border-style: none;
    background-color: white;
    height: 3px;
    
}