/* 
    Selector { property: value;} 
    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
*/
body{
    margin: 0;
}
h1{
    margin-top:0;
}
.top-container{
    background-color: #62B6B7;
}
.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
}
.bottom-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}