/* 
    Selector { property: value;} 
    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
*/
body{
    margin: 0;
    text-align: center;
}
h1{
    margin-top:0;
}
.top-container{
    background-color: #E4F9F5;
}
.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
}
.bottom-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.top-cloud{
    position: relative;
    left: 100px;
}

.bottom-cloud{
    position: absolute;
    
}