/* 
    Selector { property: value;} 
    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
*/
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin-top:0;
    font-family: 'Sacramento', cursive;
}
h2{

}
h3{
    
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
}
.bottom-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.top-cloud{
    position: absolute;
    right: 400px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
    
}